/* font-family: 'IBM Plex Sans', 
                sans-serif; 
                Regular 400
                Regular 400 Italic
                Bold 700
*/
/* font-family: 'IBM Plex Sans Condensed', 
                sans-serif;
                Regular 400
                Regular 400 Italic
                Bold 700 
*/

body {
  background-color: #03001C;
  font-family: IBM Plex Sans;
  font-weight: Regular 400;
  color: #EFF3F4;
  margin-bottom: 1.5625vw;
  margin-left: 3.125vw;
}

h1 {
  font-family: IBM Plex Sans Condensed, sans-serif;
  font-weight: Regular 400;
}

.small-about {
  width: auto;
  margin-bottom: 1.5625vw;
  text-align: left;
}

.page-heading {
  width: 91vw;
}

.about-img {
  display: block;
  width: 93.75vw;
  margin-top: 9.375vw;
  margin-left: 3.125vw;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.sml-txt-right {
  width: 56.5625vw;
  margin-top: 3.125vw;
  margin-left: 50vw;
  font-size: 2.8125vw;
}

.portrait-img {
  display: block;
  width: 34vw;
  height: 44vw;    
  margin-top: 6.25vw;
  margin-left: 34.0625vw;
}

.portrait-text {
  display: block;
  width: 60vw;
  margin-top: 3.125vw;
  margin-left: 34.375vw;
  font-size: 2.8125vw;
  line-height: 125%;
  margin-bottom: 40vw;
}

.footer {
  display: flex;
  height: 39vw;
  margin-right: 3.125vw;
  margin-bottom: 6.25vw;
  margin-left: 3.125vw;
  border-top: 0.3125vw solid hsla(0, 0%, 100%, 0.5);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}