/* font-family: 'IBM Plex Sans', 
                sans-serif; */
/* font-family: 'IBM Plex Sans Condensed', 
                sans-serif; */

body {
  background-color: #000000;
  color: #EFF3F4;
  font-family: IBM Plex Sans;
  font-weight: Regular 400;
  padding: 20px 20px 20px 20px;
}

.grid-container {
  display: grid;
  gap: 2 rem;
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-col-span-3 {
  grid-column: span 3;
  padding-top: 50px;
}

.grid-col-span-4 {
  grid-column: span 3;
}

img {
  border-radius: 15px;
}

h1 {
  font-family: IBM Plex Sans Condensed;
  font-weight: Bold 700;
  font-size: 80px;
  color: #E2032D;
}

h4 {
  font-family: IBM Plex Sans;
  font-weight: Regular 700;
}

h2 {
  font-family: IBM Plex Sans Condensed;
  font-weight: Bold 700;
  color: #E2032D;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: #EFF3F4;
  text-align: center;
}

table {
  border: 1px #EFF3F4 solid;
  padding: 0.2em;
}

tr {
  display: table-row;
  border-color: #EFF3F4;
}

td {
  display: table-cell;
  
}