/* font-family: 'IBM Plex Sans', 
                sans-serif; 
                Regular 400
                Regular 400 Italic
                Bold 700
*/
/* font-family: 'IBM Plex Sans Condensed', 
                sans-serif;
                Regular 400
                Regular 400 Italic
                Bold 700 
*/

* {
  
}

html {
  color: #EEEEEE;
  
}

body {
  background-color: #03001C;
  font-family: IBM Plex Sans;
  font-weight: Regular 400;

}

h1 {
  font-family: IBM Plex Sans Condensed;
  font-weight: Regular 400;
}

h2 {
  font-family: IBM Plex Sans Condensed;
  font-weight: Bold 700;
}

#profile-pic {
  width: 400px;
  height: auto;
  border-radius: 10px;
}